body{
    text-align: center;
    color: white;
    background-color:  #6B2A15;
  }

  li{
      text-align: left;
      list-style: none;
      text-decoration: none;
      opacity: 0.5;
      font-weight: normal;
    }
      

    li:hover{
      cursor: pointer;
      border-radius: 10px;
      text-decoration: underline;
      font-weight: bold;
      
    }

    .grid-2-columns{
      display: grid;
      grid-template-columns:  1fr, 1fr;
    }

    #owners{
      display: block;
      margin: auto;
      background-color: hsl(0, 0%, 90%);
    
    }

    .grid2 {
      display: grid;
      margin: 15px 0;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }


   footer a{
      color: white;
      text-decoration: none;
      opacity: 0.5;
    }

    footer h3{
      opacity: 0.5;
    }

    footer h3:hover{
      text-decoration: underline;
    }

    .designed{
      opacity: 0.5;
    }

     .designed a:hover{
      text-decoration: underline;
    }